*.class

.gradle/
/build/
/gradle/
gradle-app.setting
gradle-wrapper.jar
gradle-wrapper.properties

.idea/
*.iml
*.iws
*.ipr
.vscode/
.settings/
.project
.classpath
/bin/
out/
.idea_modules/
.metadata

*.log

.DS_Store
Thumbs.db
._*
.directory

